@import '../../../assets/styles/_variables';
@import '../../../assets/styles/_mixins';

.content-container {
  margin: 50px auto;
  padding: 0px 50px;

  .timesheet-info {
    margin-bottom: 20px;
    .label {
      font-weight: bold;
      @include primaryFont;
      margin-right: 5px;
    }
    .value {
      @include primaryFont;
    }
  }

  .table {
    width: 100%;
    @include primaryFont;
    border-spacing: 1px;
    border-color: black;
    tr {
      th,td {
        padding: 5px 5px;
      }
      &.readable {
        text-align: center;
        &:nth-child(even) {
          background-color: $evenRowColor;
        }
      }
      &.editable {
        background-color: $evenRowColor;
        text-align: center;
        input, textarea {
          background-color: $primaryTextColor;
        }
      }

    }
  }

  .save-button {
    margin-top: 20px;
    &.left-space {
      margin-left: 20px;
    }
  }

  .close-button {
    background-color: $darkPrimaryColor;
    color: $primaryTextColor;
    margin-left: 20px;
  }
}
