.container {
  display: flex;
  justify-content: center;
  margin: 50px auto;
  padding: 0px 50px;
  .table-container {
    width: 100%;

    @media only screen and (min-width: 600px) {
      margin: 0 20px;
    }
  }
}
