<form class="form">
  <div class="form-header"></div>
  <div class="row">
    <mat-form-field class="form-input col1">
      <input matInput type="text" placeholder="Name" name="name" [(ngModel)]="project.name"/>
    </mat-form-field>
    <mat-form-field class="form-input col2">
      <input matInput [matDatepicker]="startDate" placeholder="Start date" name="startDate" [(ngModel)]="project.startDate">
      <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
      <mat-datepicker #startDate startView="year" [startAt]="project.startDate"></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="form-input col1">
      <input matInput [matDatepicker]="endDate" placeholder="End date" name="endDate" [(ngModel)]="project.endDate">
      <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
      <mat-datepicker #endDate startView="year" [startAt]="project.endDate"></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="form-input col2">
      <input matInput type="text" placeholder="Client" name="client" [(ngModel)]="project.clientId"/>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="form-input col1">
      <input matInput type="number" placeholder="Rate (h)" name="hourlyRate" [(ngModel)]="project.hourlyRate"/>
    </mat-form-field>
    <div class="form-header"></div>
    <mat-form-field class="form-input col2">
      <input matInput type="email" placeholder="Contact Email" name="contactEmail" [(ngModel)]="project.contactEmail"/>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="form-input col1">
      <input matInput type="text" placeholder="street" name="street" [(ngModel)]="project.street"/>
    </mat-form-field>
    <mat-form-field class="form-input col2">
      <input matInput type="text" placeholder="houseNumber" name="houseNumber" [(ngModel)]="project.houseNumber"/>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="form-input col1">
      <input matInput type="text" placeholder="postalCode" name="postalCode" [(ngModel)]="project.postalCode"/>
    </mat-form-field>
    <mat-form-field class="form-input col2">
      <input matInput type="text" placeholder="city" name="city" [(ngModel)]="project.city"/>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="form-input col1">
      <input matInput type="text" placeholder="description" name="description" [(ngModel)]="project.description"/>
    </mat-form-field>
    <mat-form-field class="form-input col2">
      <input matInput type="number" min="1" max="31" step="1" placeholder="paymentMonthDay" name="paymentMonthDay" [(ngModel)]="project.paymentMonthDay"/>
    </mat-form-field>
  </div>
  <div class="btn-container">
    <button type="button" mat-stroked-button color="primary" class="submit-btn" (click)="create(project)">Create</button>
  </div>
</form>
