



<div class="content-container">

  <mat-form-field>
    <mat-select placeholder="Choose Period">
      <mat-option *ngFor="let period of project.periods" [value]="period">
        {{ period | date: 'MMMM-yyyy' }}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <table mat-table [dataSource]="tableDataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="from">
      <th mat-header-cell *matHeaderCellDef> From </th>
      <td mat-cell *matCellDef="let element"> {{element.from | date:'mediumDate'}} </td>
    </ng-container>
    <ng-container matColumnDef="to">
      <th mat-header-cell *matHeaderCellDef> To </th>
      <td mat-cell *matCellDef="let element"> {{element.to | date:'mediumDate'}} </td>
    </ng-container>
    <ng-container matColumnDef="hours">
      <th mat-header-cell *matHeaderCellDef> Hours </th>
      <td mat-cell *matCellDef="let element"> {{element.hours}} </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Signed </th>
      <td mat-cell *matCellDef="let element"> {{element.signed}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
