@import '../../assets/styles/_variables';
@import '../../assets/styles/_mixins';

.content-container {
  margin: 50px auto;
  padding: 0px 50px;

  .option-buttons {
    display: flex;
    margin-bottom: 20px;
  }

  .table {
    width: 100%;
    @include primaryFont;
    border-spacing: 1px;
    border-color: black;
    tr {

      text-align: center;
      &:nth-child(even) {
        background-color: $evenRowColor;
      }

      th,td {
        padding: 5px 5px;
        .pointer {
          cursor: pointer;
        }
      }

    }
  }
}
