

<div class="content-container">

  <div class="option-buttons">
    <button class="option-button" mat-raised-button (click)="openCreateProjectDialog()">Create</button>
  </div>

  <div class="project mat-elevation-z8" *ngFor="let project of projects">
    <div class="title">
      <span class="text">{{ project.name }}</span>
      <mat-icon class="icon" [matMenuTriggerFor]="project_menu">more_horiz</mat-icon>
      <mat-menu #project_menu="matMenu">
        <button mat-menu-item (click)="goTo('projects/' + project.id + '/timesheets')">
          <mat-icon class="icon">add_circle_outline</mat-icon>
          <span>{{ 'project.menu.timesheet' | translate }}</span>
        </button>
        <button mat-menu-item>
          <mat-icon class="icon">add_circle_outline</mat-icon>
          <span>{{ 'project.menu.invoice' | translate }}</span>
        </button>
        <button mat-menu-item (click)="delete(project.id)">
          <mat-icon class="icon">delete</mat-icon>
          <span>{{ 'project.menu.delete' | translate }}</span>
        </button>
      </mat-menu>
    </div>
    <div class="info-box">
      <span class="label">Contract Period</span>
      <span class="info">{{ project.startDate | date:'mediumDate' }} - {{ project.endDate | date:'mediumDate' }}</span>
    </div>
    <div class="info-box">
      <span class="label">Contact</span>
      <span class="info email">{{ project.contactEmail }}</span>
    </div>
  </div>
</div>
