

/* colors */
$darkPrimaryColor: #7B1FA2;
$lightPrimaryColor: #E1BEE7;
$primaryColor: #9C27B0;
$textColor: #FFFFFF;
$accentColor: #7C4DFF;
$primaryTextColor: #212121;
$secondaryTextColor: #757575;
$dividerColor: #BDBDBD;


/* fonts */

$robotoFontName: Roboto, 'Helvetica Neue', sans-serif;
